.Button{
	padding: 10px 20px;
	letter-spacing: 1.2px;
	font-size: 16px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	background: linear-gradient(150deg, rgba(51, 106, 206, 1) 0%, rgba(57, 114, 213, 1) 50%, rgba(35, 90, 191, 1) 50%, rgba(1, 60, 163, 1) 100%);
	border-radius: 10px;
	border: 0.5px black solid;
	transition: 0.8s;
}

.Button:hover{
	background: linear-gradient(150deg, rgba(1, 60, 163, 1) 0%, rgba(35, 90, 191, 1) 50%, rgba(57, 114, 213, 1) 50%, rgba(51, 106, 206, 1) 100%);
}