.Delete{
	position: relative;
   margin-left: 40px;
}

.Delete:after {
   position: absolute;
   content: ''; 
	top: 36%;
	right: 30%;
   background: url('delete.png') no-repeat ; 
   width: 32px;
   height: 32px;
}